<Layouts.app flash={@flash}>
  <.header>
    New Topic
  </.header>

  <.form for={@changeset} action={~p"/topics"} id="topic-form">
    <.input field={@form[:title]} type="text" label="Title" />
    <.button type="submit">Create Topic</.button>
  </.form>
</Layouts.app>
